
.logo {
  height: 24px;
  width: auto;
  fill: #7a707a;
}
.hero.is-pink .title {
  color: #1d3c65;
  font-weight: 800;
  font-size: calc(84px + (160 - 100) * (100vw - 300px) / (1920 - 300));
}
.network {
  font-weight: 400;
  font-size: 1rem;
}
.hero.is-pink .subtitle {
  color: #a89aa8;
  font-weight: 400;
  font-size: calc(32px + (160 - 100) * (100vw - 300px) / (1920 - 300));
}
.hero {
  background-image: url(~/assets/header.jpg);
  background-size: cover;
}
.network .circle {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: green;
  padding: 0.1rem 0.5rem;
  border-radius: 1rem;
}
.column {
  padding: 0;
}
.columns.is-variable .column {
  padding-left: 0;
  padding-right: 0;
  display: flex;
}
.title,
.subtitle {
  letter-spacing: -0.13rem;
}
.is-pink .title {
  color: #7957d5;
}
.network.offline .circle {
  background: red;
}

.packery-item article {
  padding-right: 4px;
  padding-left: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.packery-item[data-clicked="true"] .notification {
  border: 6px solid #ffcdca;
  z-index: 101;
  transition: 0.3s all;
}

.packery-item[data-clicked="true"] .title {
  color: #ff3860;
}

.notification * {
  pointer-events: none;
}

.packery-item[data-clicked="true"] .notification {
  box-shadow: 7px 9px 105px 0px rgba(0, 0, 0, 0.3);
  max-height: 90vh;
  overflow-y: hidden;
}
.description {
  padding-bottom: 16px;
}
.packery-item[data-clicked="true"] .description {
  overflow-y: scroll;
}
.packery-item[data-clicked="true"] .notification:hover {
  transform: scale(0.99);
  background: #f5f5f5;
  transition: 0.3s all;
  border-width: 6px;
  border-color: #e3e3e3;
}
.intro-text {
  letter-spacing: -0.08rem;
  color: #febeba;
  font-weight: 500;
}

.column[data-size="true"] {
  width: 100%;
}
.column[data-size="false"] {
  width: 50%;
}
